:root {
  --text-color: #141301;
  --header-color: #a1c3ff;
}

.App {
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  max-height: 100px;
  background-color: var(--header-color);
  padding: 10px;
  padding-left: 20px;
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  z-index: 1000;
}

footer {
  padding: 20px;
  display: flex;
  box-sizing: border-box;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: #ddd;
}
